%ul.nav.navbar-top-links.navbar-right
  = render partial: 'layouts/header_dropdowns/messages'
  = render partial: 'layouts/header_dropdowns/tasks'
  = render partial: 'layouts/header_dropdowns/alerts'
  = render partial: 'layouts/header_dropdowns/user'
